{% extends "layout.html" %}
{% block body %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/img/carrier-bg.jpeg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Confused what to choose...?</h1>
                            <h2 class="subheading">We are Here For You...!</h2>
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>
                        <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>
                        <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.</p>
                        <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>
                        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
                        
                        <h2 class="section-heading">l. SOFTWARE DEVELOPER</h2>


                        <p>Software developers create software programs that allow users to perform specific tasks on various devices, such as computers or mobile devices. They are responsible for the entire development, testing, and maintenance of software</p>
                        <p>Software developers must have the technical creativity required to solve problems uniquely. They need to be fluent in the computer languages that are used to write the code for programs.</p>
                        <p>According to the Bureau of Labor Statistics (BLS), software developers earned a median income of $107,510 in May 2019, and employment was expected to grow by 22% from 2019 to 2029—much faster than average for all occupations</p>
                        
                        
                        <h2 class="section-heading">2. DATABASE ADMINISTRATOR </h2>


                        <p>Database administrators analyze and evaluate the data needs of users. They develop and improve the data resources used to store and retrieve critical information.</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>They need the problem-solving skills of the computer science major to correct any malfunctions in databases and to modify systems in line with the evolving needs of users.</p>
                        <p>According to the BLS, database administrators earned a median income of $93,750 in May 2019, and employment was expected to grow by 10% from 2019 to 2029, which is faster than average.</p>
                        <p>

                            <h2 class="section-heading">3. COMPUTER HARDWARE ENGINEER</h2>
                            <P>Computer hardware engineers are responsible for designing, developing, and testing computer components, such as circuit boards, routers, and memory devices.</P>
                            <P>Computer hardware engineers need a combination of creativity and technical expertise. They must be avid learners who stay on top of emerging trends in the field to create hardware that can accommodate the latest programs and applications.</P>

                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
       



        {% endblock %}