{% extends "layout.html" %}
{% block body %}


 <!-- Page Header-->
 <header class="masthead" style="background-image: url('static/img/free_courses-bg.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                    <span class="meta">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
               
                
                <h2 class="section-heading">l. CS50’s Introduction to Computer Science</h2>


                <p>This is CS50x , Harvard University's introduction to the intellectual enterprises of computer science and the art of programming for majors and non-majors alike, with or without prior programming experience. An entry-level course taught by David J. Malan, CS50x teaches students how to think algorithmically and solve problems efficiently. Topics include abstraction, algorithms, data structures, encapsulation, resource management, security, software engineering, and web development. Languages include C, Python, SQL, and JavaScript plus CSS and HTML. Problem sets inspired by real-world domains of biology, cryptography, finance, forensics, and gaming. The on-campus version of CS50x , CS50, is Harvard's largest course.</p>
                
               <u><a href="https://www.edx.org/">Go, Check it Out!</a></u>
                

                <h2 class="section-heading">2. Introduction to Computer Science and Programming</h2>
                <p>   This course is the first of a two-course sequence: Introduction to Computer Science and Programming Using Python, and Introduction to Computational Thinking and Data Science. Together, they are designed to help people with no prior exposure to computer science or programming learn to think computationally and write programs to tackle useful problems. Some of the people taking the two courses will use them as a stepping stone to more advanced computer science courses, but for many it will be their first and last computer science courses. This run features lecture videos, lecture exercises, and problem sets using Python 3.5. Even if you previously took the course with Python 2.7, you will be able to easily transition to Python 3.5 in future courses, or enroll now to refresh your learning.</p>
               
               <u><a href="https://www.edx.org/">Go, Check it Out!</a></u>


                <h2 class="section-heading">3. Computer Science 101</h2>


                <p>CS101 is a self-paced course that teaches the essential ideas of Computer Science for a zero-prior-experience audience. Computers can appear very complicated, but in reality, computers work within just a few, simple patterns. CS101 demystifies and brings those patterns to life, which is useful for anyone using computers today.</p>
                
               <u><a href="https://online.stanford.edu/">Go, Check it Out!</a></u>
                

                <h2 class="section-heading">4. Computer Science: Programming with a Purpose</h2>
                <p>The basis for education in the last millennium was “reading, writing, and arithmetic;” now it is reading, writing, and computing. Learning to program is an essential part of the education of every student, not just in the sciences and engineering, but in the arts, social sciences, and humanities, as well. Beyond direct applications, it is the first step in understanding the nature of computer science’s undeniable impact on the modern world. This course covers the first half of our book</p>
               
               <u><a href="https://www.coursera.org">Go, Check it Out!</a></u>
                
               
               <h2 class="section-heading">5. Accelerated Computer Science Fundamentals Specialization</h2>


                <p>Topics covered by this Specialization include basic object-oriented programming, the analysis of asymptotic algorithmic run times, and the implementation of basic data structures including arrays, hash tables, linked lists, trees, heaps and graphs, as well as algorithms for traversals, rebalancing and shortest paths.</p>
                
               <u><a href="https://www.udacity.com/">Go, Check it Out!</a></u>
                

                <h2 class="section-heading">6. Intro to Theoretical Computer Science</h2>
                <p>This is a textbook in preparation for an introductory undergraduate course on theoretical computer science. I am using this text for Harvard CS 121. It is also used for UVa CS 3102 and UCLA CS181</p>
               
               <u><a href="https://www.udacity.com/">Go, Check it Out!</a></u>


                <h2 class="section-heading">7. Mathematical Thinking in Computer Science</h2>


                <p>Mathematical thinking is crucial in all areas of computer science: algorithms, bioinformatics, computer graphics, data science, machine learning, etc. In this course, we will learn the most important tools used in discrete mathematics: induction, recursion, logic, invariants, examples, optimality.</p>
                
               <u><a href="https://www.my-mooc.com/">Go, Check it Out!</a></u>
                

                <h2 class="section-heading">8. CS50’s Computer Science For Business Professionals</h2>
                <p>This is CS50’s introduction to computer science for business professionals, designed for managers, product managers, founders, and decision-makers more generally. Whereas CS50 itself takes a bottom-up approach, emphasizing mastery of low-level concepts and implementation details thereof, this course takes a top-down approach, emphasizing mastery of high-level concepts and design decisions related thereto. Through lectures on computational thinking, programming languages, internet technologies, web development, technology stacks, and cloud computing, this course empowers you to make technological decisions even if not a technologist yourself. You’ll emerge from this course with first-hand appreciation of how it all works and all the more confident in the factors that should guide your decision-making.</p>
               
               <u><a href="https://www.edx.org/">Go, Check it Out!</a></u>


                <h2 class="section-heading">9. Foundations of Computer Science: Theory and Practice</h2>


                <p>The Foundations of Computer Science course is designed to provide students with the breadth of computer science. Students are introduced to a broad base of computer science topics including website development and coding (HTML), programming using the Processing language, robotics, and Cyber Security.</p>
                
               <u><a href="https://www.udemy.com/">Go, Check it Out!</a></u>
                

                <h2 class="section-heading">10. Computer Science 101: Master the Theory Behind Programming</h2>
                <p>If you're looking to learn the theory that makes great programmers, you've come to the right place! This is perfect for anyone interested in learning the fundamentals to Computer Science Theory.</p>
               
               <u><a href="https://www.skillshare.com/">Go, Check it Out!</a></u>
                
                    
            </div>
        </div>
    </div>
</article>



{% endblock %}