{% extends "layout.html" %}
{% block body %}


 <!-- Page Header-->
 <header class="masthead" style="background-image: url('static/img/electrical-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                    <span class="meta">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <h2 class="section-heading">1. Transmission Distribution Of Electric Power </h2>


                        <p>Electric power transmission is the bulk movement of electric energy from a generating site, such as a power plant, to an electric substation The interconnected lines which facilitate this movement are known as a transmission network. This is distinct from the local wiring between high-voltage substations and customers, which is typically referred to as electric power distribution. The combined transmission and distribution network is part of electricity delivery,  known as the electrical grid
                            <a href="https://en.wikipedia.org/wiki/Electric_power_transmission">learn more</a>
                          </p>
                        

                        <h2 class="section-heading">2. Power Electronic</h2>
                        <p>Power Electronics refers to the process of controlling the flow of current and voltage and converting it to a form that is suitable for user loads. The most desirable power electronic system is one whose efficiency and reliability is 100%.</p>

                        <p>Power electronics is the application of electronics to the control and conversion of electric power.</p>

                        <p>Power Electronics refers to an interdisciplinary subject within electrical engineering that deals with the design, control and conversion of power in its electric form. A system that converts electric energy to an electric load through a control circuit is known as a Power Electronic System.</p>

                        <p>The purpose of this tutorial is to introduce and explain the main concepts in Power Electronics, which include Power Semi-Conductor Devices, Phase-Controlled Converters, DC to DC Converter, Inverters and AC to AC Converters.
                            <a href="https://en.wikipedia.org/wiki/Power_electronics">learn more</a>   
                        </p>


                        <h2 class="selection-heading">3. Electronic Machines</h2>

                        <p>The course will begin with explaining basic underlying principles of working of various types of electrical rotating machines. The conditions to be fulfilled for the steady production of electromagnetic torque.  Motoring and generating mode of operation. Primary focus will be on the operation of 3-phase induction machine, single phase induction motor, and synchronous machines  A fair knowledge of distributed windings is essential in order to understand the working of rotating machines more effectively – few lectures will be devoted on this topic. Concept of electrical and mechanical angles will be explained. Nature of magnetic flux</p>

                        <p>distribution along the air-gap of a rotating machine will be discussed. Clear concept of Rotating magnetic field is so important in understanding the operation of induction and synchronous machines. For each of this machine equivalent circuit will be derived and then used to derive expression for the torque. Starting, speed control and electrical braking of the motors will be discussed. Although main focus will be on the steady state performance analysis, few cases of important transient analysis will be discussed. Students will be motivated to solve numerical problems logically and efficiently.
                        <a href="https://en.wikipedia.org/wiki/Electric_machine">learn more</a>
                        </p>

                            
                        <h2 class="selection-heading">4. Analog & digital electronic</h2>
                        <p>Analogue electronics are systems with a continuously variable signal, in contrast to digital electronics where signals usually take only two levels. The term "analogue" describes the proportional relationship between a signal and a voltage or current that represents the signal. The word analogue is derived from the greek: word ανάλογος pronounced  (analogos) meaning "proportional".
                        <a href="https://en.wikipedia.org/wiki/Digital_electronics">learn more</a>    
                        </p>
                       
                    </div>
                </div>
            </div>
        </article>





{% endblock %}