{% extends "layout.html" %}
{% block body %}


 <!-- Page Header-->
 <header class="masthead" style="background-image: url('static/img/scholarship-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                    <span class="meta">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <h2 class="section-heading">1. Merit Cum Means Scholarship for Professional and Technical Courses CS (Minorities)</h2>


                        <p>Scope: The scholarship is to be awarded for studies in India in a Government or private institution, selected and notified in a transparent manner by the State Government/Union Territory Administration concerned. It will cover technical and professional courses at undergraduate and post graduate level.</p>
                        <h2 class="section-heading">2. Central Sector Scheme of Scholarship for College and University Students</h2>


                        <p>Description: Central Sector Scholarship Scheme for College and University Students is a centrally-funded merit-cum-means scholarship initiated by the Department of Higher Education of MHRD. Started with the objective to financially assist students of economically underprivileged families, Central Sector Scholarship scheme is disbursed among a total of 82,000 graduate/postgraduate students every year. This scholarship is given in equal proportion to boys and girls, i.e., 41,000 of the total number of scholarships are reserved for boys and the other 41,000 are for girl candidates. The selected students receive an annual scholarship amount of up to INR 20,000 so that they could meet their day-to-day expenses while pursuing higher studies.</p>
                        
                        <h2 class="selection-heading">3. Graduate Scholarship for Professional Courses for SC/ST</h2>
                        <p>University Grants Commission (UGC) has come up with the scheme known as Post Graduate Scholarship for Professional Courses for SC/ST Students. This scholarship platform is belonging to SC/ST students who are pursuing professional courses at the postgraduate level recognized by MCI, PCI, DCI, RCI, NCTE Bar Council of India, AICTE and other such regulatory bodies. The application dates for Post Graduate Scholarship for Professional Courses for SC/ST 2020-21 is not announced yet. However, it is expected to release in the mid week of August 2020 and will available till 15th January 2021 (tentative)</p>
                        
                        <h2 class="slection-heading">4. Post Graduate Merit Scholarship for University Rank Holders</h2>
                        <p>Post Graduate Merit Scholarship for University Rank Holders 2021-22 is an opportunity offered to the first and second rank holders of graduation courses across the country. The scholarship aims to encourage talented girls and boys towards postgraduation education and assist them in their expenses.</p>
                        
                        
                        <h2 class="selection-heading">5. Post-Graduate Indira Gandhi Scholarship for Single Girl Child</h2>

                        <p>Post-Graduate Indira Gandhi Scholarship for Single Girl Child 2021-22 is an initiative for girl students of up to 30 years of age who happen to be the only girl child in their families. The scholarship aims to promote girl education and compensate for the direct costs of girl education to all levels.</p>
                 
                           
                    </div>
                </div>
            </div>
        </article>
  

{% endblock %}