{% extends "layout.html" %}
{% block body %}


 <!-- Page Header-->
 <header class="masthead" style="background-image: url('static/img/software.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>
                <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>
                <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.</p>
                <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>
                <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
                
                <h2 class="section-heading">l. RAPID TYPING TUTOR</h2>


                <p>RapidTyping is a convenient and easy-to-use keyboard trainer that will help you improve your typing speed and reduce typos. With its lessons organized for various student level, RapidTyping will teach you touch typing or enhance existing skills.</p>
                <p>RapidTyping is a convenient and easy-to-use keyboard trainer that will help you improve your typing speed and reduce typos. With its lessons organized for various student level, RapidTyping will teach you touch typing or enhance existing skills.
                1. Introduction and Beginner courses are available for all keyboard layouts.
                <br>
                2. Experienced and Advanced courses are available for: Arabic, Dutch, English, Finnish, French, German, Greek, Hungarian, Persian, Russian, Spanish layouts.
                <br>
                3. Testing course for English keyboard layout.
                <br>
                <a href="https://rapidtyping.com/downloads.html"> click here to download</a>

               
                <h2 class="section-heading">2. TYPING MASTER </h2>
                <p>TypingTest.Pro is an easy-to-use, quick and customizable web-based typing test maker that you can use for all your business recruitment and training purposes. Our online assessment app has been on the market since 2002 and we are focused on providing a reliable solution!
                    </p>
                    <p> <a href="https://www.typingmaster.com/typing-tutor/free-download.html"> click here to download</a></p>                
                        
                <h2 class="section-heading">3. TYPING TRAINER</h2>
                <p>Typing Trainer is a web course that teaches you the efficient touch-type method for free. As a result you can double your typing speed and eventually type as fluently as you speak.</p>
                <p>With our step-by-step approach you will learn the core keyboarding skills in web in just four hours - after that you're ready to use your new skill in everyday work. There's also over five hours of additional material covering speed building, numbers, symbols and more.
                    </p>
                    <p><a href="https://typing-trainer.en.softonic.com"> click here to download</a></p>                                    
                        
                <h2 class="selection-heading">4. Key blaze </h2>
                   <p>Nowadays, most of us spend time typing away on our computers. Often, however, we only employ four to five fingers to type or just peck away at the keys. This results in slow typing as well as typos. To avoid unnecessary mistakes and improve your typing capabilities, you canNowadays, most of us spend time typing away on our computers. Often, however, we only employ four to five fingers to type or just peck away at the keys. This results in slow typing as well as typos. To avoid unnecessary mistakes and improve your typing capabilities, you can download KeyBlaze Free Typing Tutor. As the name suggests, the program is an effective tutor that helps in improving typing skills.
                    </p>  
                    <p><a href="https://keyblaze-free-typing-tutor.en.softonic.com"> click here to download</a> </p>


                <h2 class="selection-heading" >5. Kiran's typing tutor </h2>  
                <p>Award winning, noncommercial, ad free software provides complete touch-typing training suite. Research based, scientifically designed most effective typing tutor. The beauty and elegance come from advanced, modern technologies and visual, audio and video synergies. Fully customizable software, extendable without any limits.
                <p>It has modules to all age groups, useful from primary schools to advanced computer institutes. Supports multiple Themes, languages, courses and keyboard layouts. Hundreds of lessons, practices, and tests provides training from beginners to advanced users. The main modules are 1) Typing Lessons 2) Typing Practice 3) Typing Tests 4) Typing Games 5) Kids Typing 6) Numeric Typing.</p>  
                <p><a href="https://www.microsoft.com/en-us/p/kirans-typing-tutor/9pggg738psdp?activetab=pivot:overviewtab"> click here to download</a></p>  
    

              
               
            </div>
        </div>
    </div>
</article>


{% endblock %}